.section__fourth {
  width: 100%;
  background-color: #b797cf;
  background-image: url("/banner_bottom.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.section__fourth p {
  color: black;
  margin-bottom: 1rem;
  width: 60%;
}

.section__fourth h2 {
  margin-bottom: 1rem;
}

.section__fourth h5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.landing__fourth {
  height: 30rem;
  max-width: 991px;
  margin: 0 auto;
  width: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
}
.section__fourth__button {
    width: 24rem;
    border: none;
    color: white;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: #5532c8;
    width: 100%;
    min-width: 13rem;
    max-width: 20rem;
    height: 3rem;
    margin-top: 1rem;
}

@media (max-width: 992px) {
  .section__fourth h2 {
    font-size: 34px;
  }
}

@media (max-width: 767px) {
  .section__fourth__button {
    max-width: 18rem;
  }
  .section__fourth h2 {
    font-size: 2rem;
  }

  .section__fourth p {
    width: 80%;
  }
  .landing__fourth {
    height: 40rem;
  }
}
