.section__third {
  display: flex;
  width: 80%;
  max-width: 991px;
  margin: 10% auto;
  flex-wrap: wrap;
  margin-top: 0;
}
.landing__01 {
  height: auto;
}
.landing__01__h4 {
  width: 0;
  height: 0;
  font-size: 5rem;
  position: relative;
  z-index: 1;
  color: rgba(141, 141, 141, 0.601);
  bottom: 3rem;
  left: -5%;
  font-family: "Righteous";
}
.landing__01 {
  width: 100%;
  height: 100%;
}
.landing__01__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 358px;
  padding: 1rem;
  background-color: #5532c810;
  position: relative;
  z-index: 3;
  border-radius: 2.8rem;
}
.landing__circle__numbers {
  width: 40%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.landing__circle__numbers img {
  width: 80%;
  height: auto;
}

.landing__opurtunites {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.landing__opurtunites h2 {
  font-size: 35px;
  margin-bottom: 1rem;
}
.landing__button {
  width: 24rem;
  border: none;
  color: white;
  border-radius: 0.3rem;
  cursor: pointer;
  background-color: #5532c8;
  width: 40%;
  min-width: 20rem;
  max-width: 10rem;
  height: 3rem;
}

.landing__button:hover {
  opacity: 0.5;
}
@media (max-width: 992px) {
  .section__third {
    margin: 16% auto;
  }
  .landing__01__h4 {
    right: 0;
    bottom: 2.25rem;
    font-size: 4rem;
  }
  .landing__01 h4 {
    right: 2rem;
  }
  .landing__opurtunites {
    padding-right: 1rem;
  }
  .landing__button {
    min-width: 18rem;
  }
}
@media (max-width: 736px) {
  .landing__01 {
    height: auto;
  }
  .landing__01__container {
    padding: 2rem 0;
    flex-direction: column-reverse;
    height: auto;
  }
  .landing__01__container h4 {
    position: relative;
    width: 0;
  }
  .landing__circle__numbers {
    color: #5532c8;
    position: static;
    width: 100%;
    justify-content: center;
    padding: 0 1rem;
  }
  .landing__circle__numbers img {
    max-width: 17rem;
  }
  .landing__circle__numbers h4 {
    position: static;
    width: auto;
  }
  .landing__opurtunites {
    width: 100%;
    padding: 0 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .landing__button {
    width: 100%;
    border: none;
    color: white;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: #5532c8;
    min-width: auto;
    max-width: none;
    height: 3rem;
    margin: 0 auto;
  }
  .landing__01__h4 {
    right: 0;
    bottom: 2.25rem;
    font-size: 4rem;
  }
  .landing__opurtunites h2 {
    font-size: 27px;
    margin-bottom: 0.5rem;
  }
}
