.section__two__container {
  background-color: #f5f5f7;
}
.section__two {
  display: flex;
  width: 80%;
  max-width: 991px;
  margin: 0 auto;
  padding-bottom: 5.5rem;
}
.landing__two__text {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
}
.landing__two__container {
  display: flex;
  width: 100%;
}

.landing__two__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 8% auto;
  margin-top: 0;
  padding-top: 4rem;
}
.landing__two__title p {
  font-weight: 300;
  margin-bottom: 0;
}
.landing__circle {
  width: 37%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.landing__circle img {
  height: auto;
  width: 30rem;
}
.landing__opurtunites {
  padding-right: 1rem;
}
.landing__opurtunites {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.landing__opurtunites h2 {
  font-size: 35px;
  margin-bottom: 1rem;
}
@media (max-width: 992px) {
    .landing__opurtunites h2 {
        font-size: 27px;
        margin-bottom: 1rem;
      }
  .landing__circle {
    padding-right: 0;
    width: 53%;
  }
  .landing__circle img {
    width: 100%;
  }
  .landing__opurtunites {
    padding-right: 1rem;
  }
}
@media (max-width: 736px) {
  .landing__two__container {
    flex-direction: column;
    text-align: center;
  }
  .landing__circle {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
  }

  .landing__circle img {
    display: flex;
  }
  .section__two {
    padding-bottom: 2rem;
    width: 85%;
  }
  .landing__two__text {
    padding: 0;
  }
  .landing__opurtunites {
    width: 100%;
    padding: 0 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
