.banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 270px 5%;
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
}

.col-lg-12 {
  width: 100%;
}

.banner:after {
  content: "";
  background-image: url(/Group\ 17.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.banner .leftcontent {
  margin-right: 15px;
  max-width: 520px;
  margin-top: 4rem;
}

.banner .leftcontent h2 {
  z-index: 2;
  position: relative;
  font-weight: 700;
  line-height: 70px;
  font-size: 50px;
  margin-bottom: 20px;
}

.banner .leftcontent p {
  color: white;
  font-weight: 400;
  width: 100%;
  max-width: 476px;
}

.container__iniciocountry {
  margin-bottom: 0;
}

.banner .leftcontent .first-button {
  margin-right: 15px;
}

.banner .leftcontent .white-button {
  display: inline-block;
}

.banner .rightimage {
  text-align: center;
  position: relative;
    height: auto;
  z-index: 20;
}

.banner .rightimage img {
  max-width: 710px;
}

.banner .leftcontent .white-button a {
  background-color: #5532c8;
  color: #fff !important;
}

.banner__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.banner__buttonfree {
  width: 100%;
  color: white;
  margin-bottom: 0;
  font-size: 1.3rem;
  margin-right: 0.4rem;
}
.banner__buttonfree::after {
  content: " - ";
  margin: 0 0.4rem;
}
.container__inicio {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  margin: 0 auto;
  max-width: 2800px;
}

.title__primary {
  font-size: 50px;
  color: white;
}
@media (max-width: 1200px) {
  .banner .leftcontent h2 {
    z-index: 2;
    position: relative;
    font-weight: 700;
    line-height: 70px;
    font-size: 50px;
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  .title__primary {
    color: #5532c8;

  }
  .banner__buttonfree {
    width: 100%;
    color: #5532c8;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.3rem;
    margin-right: 0.4rem;
    padding-top: 0.2rem;
  }
  .banner__buttonfree::after {
    content: "";
  }
  .banner__buttonfree::before {
    content: "";
  }
  .banner:after {
    display: none;
  }

  .banner__button {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    align-content: center;
  }

  .banner .leftcontent p {
    width: 100%;
    color: #6e6b78;
    margin: 1rem 0;
  }

  .container__iniciocountry {
    width: 100%;
  }

  .banner .leftcontent {
    margin: 0 auto;
  }

  .future__finance {
    width: 100%;
    padding-bottom: 0;
  }

  .banner .leftcontent {
    width: 100vw;
  }

  .banner {
    text-align: center;
    padding-top: 5rem;
    height: auto;
    text-align: center;
    padding: 126px 0px 30px 0px;
  }

  .banner:before {
    display: none;
  }

  .banner .rightimage {
    margin: 30px auto 0px auto;
    text-align: center;
  }

  .banner .rightimage img {
    width: 550px;
    height: 88%;
    margin: 1rem 0;
  }
}

@media (max-width: 767px) {
  .title__primary {
    color: #5532c8;
    line-height: 1.2;
    font-weight: 700;
    font-size: 32px;
  }
  .banner {
    padding-top: 5rem;
    height: 100%;
    text-align: center;
    background-color: #fff8e4;
    padding-bottom: 0;
  }

  .banner .leftcontent p {
    width: 100%;
    color: #6e6b78;
  }

  .container__iniciocountry {
    width: 100%;
    margin-bottom: 0 !important;

  }

  .banner .leftcontent {
    width: 94%;
    display: flex;
    justify-content: center;
  }

  .future__finance {
    width: 90%;
    padding-bottom: 0;
    margin: 0;
  }

  .banner .rightimage img {
    width: 100%;
  }

  .banner .info-stat {
    margin-bottom: 15px;
  }
}
/*
    flechas 
    mexico acentos
    x button

*/
